.icon-instagram { background-image: url('app/icons/instagram.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-tiger { background-image: url('app/icons/tiger.png'); background-repeat: no-repeat; }

