---
layout: default
---
<section class="section--content font--large margin--vert-1 margin--dsk-vert-4">
	<p>At Moonshine & Co. we know that a salon is more than just a service. We believe in leading by example on how our culture can change our industry, and vice versa. We believe in promoting well-being for every client and employee that walks through our doors. We believe in the power of creating experiences, and that lasting impressions are filled with thoughtful details.</p>
	<p>–</p>

		<p class="margin--bot-2">We’re one of the top 5 finalists in the Calling All Dreamers contest! Vote to help us win!</p>
		<a class="vote button color--green text--uppercase" href="https://callingalldreamers.org/#vote">Vote</a><br>

</section>
<section class="font--large letter--2 margin--vert-2">
	<strong class="text--uppercase">Contact</strong><br>
	916.204.3114<br>
	lienglankler@gmail.com<br>
	Sacramento, ca<br>
	
</section>
<section class="spacing--bot-3">
	<a href="https://www.instagram.com/moonshineco/" target="_blank" title="Follow Moonshine on Instagram"><i class="icon-instagram" data-grunticon-embed></i></a>
</section>
